@model IEnumerable<WeBookNewUpdate.Controllers.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Dis.css" rel="stylesheet" />
<h2>صفحة المدير</h2>

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Descrebtion)
        </th>
       
       
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Descrebtion)
        </td>
       
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookId })

           
        </td>
    </tr>
}

</table>
