@model WeBookNewUpdate.Controllers.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Dis.css" rel="stylesheet" />
<h2 style="margin-right:900px"> Add books</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger"  })
    <div class="form-group" style="margin-right:900px">

        <div class="col-md-10">


        </div>
       
    </div>

       

    <div class="form-group" style="margin-right:700px">
        <div style="margin-right:300px"> <h2 style="color:#ffa203">Your Book</h2>   </div>
        <table class="container">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.Descrebtion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descrebtion, "", new { @class = "text-danger" })
                    </td>
                    <td><input type="submit" value="Add" class="btn btn-default" /></td>
                    <td>  @Html.ActionLink("Back to List", "Index")</td>








                </tr>
                <tr>
                </tr>
                <tr>

            </tbody>
        </table>



        <div class="col-md-10">
          
        </div>
    </div>

        

       

        <div class="form-group" style="margin-right:900px " >
            <div class="col-md-offset-2 col-md-10">
                
            </div>
        </div>
    </div>
}

<div style="margin-right:900px">
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
